/* .resources-page .pre-scrollable{
    width: 800px;
} */

.ResourcesPage {
    width: 800px;
    margin-left: 295px;
    font-family: 'Raleway', sans-serif;
}

.pre-scrollable .ResourcesPage {
    width: 800px;
    margin-left: 295px;
    margin-top: 30px;
}

.events-label {
    width: 600px;
    height: 40px;
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 380px;
    margin-left: 400px;
    color: white;
    font-size: 25px;
    background-color: rgba(18, 78, 197, 0.66);
    box-shadow: 3px 3px 2px navy;
}

.btn-default {
    font-size: 10px;
    text-align: center;
    width: 100px;
    background-color: rgba(18, 78, 197, 0.66);
    margin-left: 350px;
    margin-top: 20px;
    margin-bottom: 20px;
    

}