.TopicItem {
    list-style-type: none;
    text-align: left;
    display: block;
    /* float: left;  */
    line-height: 30px;
}

.TopicItem:hover {
    text-decoration: underline;
}
.TopicBox {
    background-color: lightblue;
    margin: 10px;
    border: 1px solid black;
    box-shadow: 5px 5px 5px #888888;
}

.pre-scrollable {
    text-align: center;
    padding: 0;
}

