.NavBar {
    display: flex;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
    height: 100px;
    background-repeat: no-repeat;
}

.NavBar-link {
    margin: 0 10px;
    color: navy;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
}

.NavBar-link:hover {
    text-decoration: underline;
}
  
