.NavBar {
    display: flex;
    justify-content: center;
    /* margin: 0 0 20px; */
    background-color: gray;
    height: 100px;
    
}

  
.NavBar-link {
    margin: 0 10px;
    color: white;
    size: 14px;
}

.NavBar-link:hover {
    text-decoration: underline;
}
  
