.header-footer {
  background-color: gray;
  height: 200px;
  padding: 10px;
  color: white;
  font-size: 22px;
  text-align: center;
  letter-spacing: 6px;
  margin: 50px;
}

.title {
  font-size: 50px;
  margin-left: 25px;
  color: white;
}
.subtitle {
  font-size: 30px;
  margin-left: 25px;
  color: white;
  text-align: right;
}


.titleBackground {
  text-align: left;
  margin-right: 100px;
  margin-top: 50px;
  margin-left: 25px;
  width: 400px;
  height: 100px;
  float: left;
  background-color: rgba(18, 78, 197, 0.66);
  box-shadow: 3px 3px 2px navy;

}


