.header-footer {
  background-color: gray;
  height: 200px;
  padding: 10px;
  color: white;
  font-size: 22px;
  text-align: center;
  letter-spacing: 6px;
  margin: 50px;
}




.titleBackground {
  text-align: right;
  margin-right: 100px;
  margin-top: 100px;
  width: 300px;
  height: 100px;
  float: right;
}


