.Map-Box {
    margin-top: 40px;
    margin-left: 50px;
}


.map-header {
    margin-left: 550px;
    color: white;
    font-size: 30px;
    width: 300px;
    text-align: center;
    background-color: rgba(18, 78, 197, 0.66);
    box-shadow: 3px 3px 2px navy;
    margin-bottom: 10px;
    font-family: 'Raleway', sans-serif;
}