.NewDiscussion {
    margin-left: 30px;
    width: 300px;
}

h3 {
    color: navy;
    margin-left: 30px;

}

.Discussions {
    display: flex;
    
}

.btn-success {
    height: 30px;
}


.pre-scrollable {
    
}