.NewDiscussion {
    width: 300px;
    display: flex;
    flex-flow: column-reverse;
    
}

#topic-header {
    font-family: 'Fjalla One', sans-serif;

}

.btn-success {
    height: 30px;
}

.one-discussion {
    border: 1px solid black;
    width: 500px;
    margin-left: 175px;
    margin-top: 20px;
    box-shadow: 3px 3px 2px rgba(70, 68, 206, 0.95);
}

.discussion-title {
    font-size: 30px;
    background-color:  rgba(68, 117, 206, 0.86);
    color: white;
    font-family: 'Raleway', sans-serif;
    
}

.discussion-header1 {
    color: white;
    font-size: 25px;
    width: 400px;
    text-align: center;
    background-color: rgba(18, 78, 197, 0.66);
    box-shadow: 3px 3px 2px navy;
    margin-left: 380px;
    font-family: 'Raleway', sans-serif;
}



.Discussions .pre-scrollable {
    margin-left: 60px;
    max-height: 340px;
    overflow-y: scroll;
    border:  1px solid navy;
    margin-top: 20px;
    flex-flow: column-reverse;
    display: flex;
    font-family: 'Raleway', sans-serif;
}

.discussion-content {
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.discussions-list {
    display: flex;
    flex-direction: column-reverse;
    font-family: 'Raleway', sans-serif;
    margin-left: 150px;
}

.NewDiscussion {
    margin-left: -180px;
    margin-top: -130px;
}